#players {
   display: flex; 
   flex: 1 1 0;
   background-color: darkcyan;
   padding-left: 3rem;
   padding-left: 3rem;
   justify-content: space-around;
   max-width: 800px;
   margin-top: 40px;
   font-size: 20px;
   font-weight: 900;
   border-style: solid;
   border-width: 1px;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   
   
   

}

#overallWinner {
   background-color: yellowgreen;
   text-align: center;
   font-size: 30px;
   max-width: 400px;
   border-style: solid;
   border-radius: 15px;
   margin: auto;
   min-width: 300px;
}
.principal {
   max-width: 800px;
   margin: auto;
   background-color: rgb(181, 203, 204);
   height: 500px;
   border-radius: 20px;
   align-items: center;

   
}

.bottomContainer {
 display: flex;
 flex-direction: column;
 flex: 1 1 1;
 align-items: center;

}
.bottomContainer div {

   margin-left: 30px;
}

#title {

   text-align: center;
}
p {
   text-align: center;
}

button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: flex;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   margin: auto;
   border-radius: 15px;
   

}